@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap');


*{
    padding: 0px;
    margin: 0px;
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;

}
body{

    height: 100vh;
}
section#Me{
    
    padding-top: 350px;
    padding-bottom: 150px;
    
    
    
}

section#Me > div.container h1{

    font-size: 36px;
    line-height: 52.5px;
    text-align: center;
    padding: 18px;
    text-shadow: 3px 1px 4px rgba(56, 56, 56, 0.233);
}
section#Me > div.container p{
    display: block;
    margin: auto;
    margin-top: 20%;
    width: fit-content;
    margin-bottom: 30%;
    
    
}
div.container p a{
    text-decoration: none;
    text-align: center;
    
    border-radius: 20px;
    

}
section#Me > div.container .material-symbols-outlined{

    color: #fff;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.527);
}
.material-symbols-outlined{
  font-size: 80px;
  color: brown;
  cursor: pointer;
}

section#aboutMe{
    position: static;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.507) 5%,rgba(255, 255, 0, 0.541)60%,rgba(255, 166, 0, 0.637), rgba(255, 0, 0, 0.603));
    
}
section#aboutMe > div.container{

    padding: 10px;
    padding-bottom: 40px;
    
    
}
section#aboutMe > div.container h2{

    text-align: center;
    font-size: 32px;
    padding: 10px;
    font-variant: small-caps;
    
}
section#aboutMe > div.container > div p {

    text-align: center;
    font-size: 1.2em;
    line-height: 40px;
    margin-top: 10%;
}
section#aboutMe > div.container > div p img{
    
    border-radius: 5%;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.685);
    
}

section#aboutMe > div.container > div p#myWords {
    display: block;
    margin: auto;
    margin-top: 10%;
    max-width: 600px;
    text-align: justify;
    text-indent: 40px;
    padding: 10px;
}
section#aboutMe > div.container > div p#myWords a{

    color: black;
    font-weight: bold;
}
section#aboutMe > div.container > div p#myWords a:hover{

    text-decoration: underline;
}
section#aboutMe  p#myResume{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 20%;
    font-size: 18px;
    width: fit-content;
    border: 2px solid #fff;
    padding: 5px;
}
section#aboutMe  p#myResume a{

   color: #fff;
}




section#aboutMe div.container p.expand .material-symbols-outlined{

    color: rgba(238, 151, 36, 0.61);
}
section#myProjects{

    background-color: rgba(255, 255, 255, 0.63);

}


section#myProjects  > div#secondContainer h2{

    text-align: center;
    font-size: 32px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-variant: small-caps;
    
}
section#myProjects  > div#secondContainer h3{

    
    font-size: 1.4em;
    padding: 10px;
    padding-left: 30px;
    font-variant: small-caps;
    
}
section#myProjects  > div#secondContainer .Redirects p{

    text-align: left;
    font-size: 1.15em;
    padding: 10px;
    padding-left: 20px;
    line-height: 28px;
    
}
section#myProjects  > div#secondContainer .Redirects  a{

    margin-bottom: 20px;
}
p.expand{

    display: block;
    width: fit-content;
    margin: auto;

    
}
section#myProjects .links{

    margin-left: 15px;

}
section#myProjects div#androidContainer .links{

    border: 1px solid rgb(79, 201, 63);
}
section#myProjects div#cordelContainer .links{

    border: 1px solid rgb(255, 255, 255);
    color: #fff;
    
}
section#myProjects div#socialContainer .links{

    border: 1px solid rgb(150, 112, 70);
    
}
section#myProjects div#loginContainer .links{

    border: 1px solid #02111B;
    
}
section#myProjects div#calculatorContainer .links{

    border: 1px solid rgba(173, 53, 53, 0.788);

}

section#myProjects  > div#secondContainer a{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    transition: background-color 0.4s ease;
}

section#myProjects div.imageProjects img{
    display: block; 
    width: 300px;
    overflow: hidden;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    box-sizing: border-box;
    
}
section#myProjects div.imageProjects img#androidImage:hover{

    box-shadow: 0px 0px 25px rgb(33, 129, 33);
    
}
section#myProjects div.imageProjects img#cordelImage:hover{

    box-shadow: 0px 0px 25px;
    
}
section#myProjects div.imageProjects img#socialImage:hover{

    box-shadow: 0px 0px 25px rgba(194, 145, 55, 0.815);
    
    
}
section#myProjects div.imageProjects img#loginImage:hover{
    
    box-shadow: 0px 0px 12px  #02111B;
    
    
}
section#myProjects div.imageProjects img#calculatorImage:hover{
    
    box-shadow: 0px 0px 12px  #462121;
    
    
}

section#myProjects  div#androidContainer{
    background-image:linear-gradient(to bottom,#fff 1%,rgb(0, 255, 157), #fff);
    border-radius: 15px;
}
section#myProjects  div#cordelContainer{
    background-image:linear-gradient(to bottom,#fff 1%,rgba(0, 0, 0, 0.87),black, #fff);
    border-radius: 15px;
}
section#myProjects div#socialContainer{
    background-image: linear-gradient(to bottom,#fff 1%,#bc9e70, #fff)
}
section#myProjects div#loginContainer{

    background-image: linear-gradient(to bottom, #fff 1%,#446D88, 60%, rgba(0, 132, 255, 0.322),#fff);
}
section#myProjects div#calculatorContainer{
    
    background-image: linear-gradient(to bottom,#fff 2%, rgba(105, 43, 39, 0.884) 45%,rgba(100, 44, 44, 0.932), #fff);

}
section#myProjects  div#cordelContainer h3{
    color: rgb(5, 5, 5);
    padding: 15px;
}
section#myProjects div#socialContainer h3{

    padding-top: 30px;
}

section#myProjects div#loginContainer h3{

    color: rgb(0, 0, 0);
    padding-top: 30px;
    
}
section#myProjects div#calculatorContainer h3{

    padding: 30px;
    color: rgb(0, 0, 0);

}


section#myProjects  div#cordelContainer p{

    color: rgb(0, 0, 0);

}
section#myProjects  div#loginContainer .Redirects p{

    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    
}
section#myProjects div#calculatorContainer .Redirects p{

    
    color: rgb(0, 0, 0);
    border-radius: 19px;
    margin-bottom: 10px;

}
section#myProjects  div#cordelContainer .Redirects p .hyperlinkText{
    padding: 2px;
    font-weight: bold;
    
}
section#myProjects  div#cordelContainer .Redirects p .hyperlinkText:hover{

    background-color: rgba(128, 128, 128, 0);
    color: #000;
    text-decoration: underline;
    padding: 2px;
    border-radius: 0px;
    border: 0px;
}


section#myProjects div#androidContainer p.expand span{

    color: rgba(81, 211, 120, 0.801);
    
}
section#myProjects div#cordelContainer p.expand span{

    color: rgba(0, 0, 0, 0.801);
}
section#myProjects div#socialContainer p.expand span{

    color: rgba(187, 137, 71, 0.801);
}
section#myProjects div#loginContainer p.expand span{

    color: #02111B;
}
section#myProjects div#calculatorContainer p.expand span{

    color: rgb(87, 47, 47);
}

section#myProjects p.expand a{

    border: none;
}

section#myProjects  div#androidContainer div.Redirects a:hover{

    background-color: rgb(90, 231, 133);
    
    border: 2px solid rgb(61, 177, 61);
}
div#secondContainer div#cordelContainer div.Redirects a:hover{

    background-color: rgb(71, 71, 71);
    color: #fff;
    border: 2px solid rgb(255, 255, 255);
}
div#secondContainer div#socialContainer div.Redirects a:hover{

    background-color: rgb(161, 115, 63);
    color: #fff;
    border: 2px solid rgb(255, 255, 255);

}
div#secondContainer div#loginContainer div.Redirects a:hover{

    background-color: #02111B;
    color: #fff;
    border: 2px solid rgb(255, 255, 255);

}
div#secondContainer div#calculatorContainer div.Redirects a:hover{

    background-color: #723030;
    color: #fff;
    border: 2px solid rgb(255, 255, 255);

}
section#myContacts{

    padding-top: 150px;
    padding-bottom: 150px;
    background-color: white;
    
}
section#myContacts div.container{

    margin: 0px;
    width: 100%;
    
    
    
}

section#myContacts div.container h2{
    
    font-size: 28px;
    text-align: center;

}
section#myContacts div.container div{

    margin-top: 40px;
}
section#myContacts div.container div p{

    font-size: 20px;
    
    text-align: center;
}
section#myContacts div.container div p span{

    font-size:20px;
    font-weight: 700;
}
footer{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(121, 121, 121);
    
}
footer div.container{
    margin: 0px;
    
}
footer div.container div#backInicial {
    width: fit-content;
    margin: auto;
}
footer div.container div#redirectSocial{

    margin: auto;
    margin-top: 60px;
    width: fit-content;
}
footer div.container div#redirectSocial a{
    display: inline-block;
    padding: 15px;
}
footer div.container div#redirectSocial a img{

    width: 45px;
}